h1 {
    width: 100%;
    text-align: center;
}

h2 {
    text-align: center;
}


ul {
    list-style-type: disc;
}
.financial-interests-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.list-styles {
    padding: 2.5%;
    margin: auto;
    border-bottom: 2px solid;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    width: 70%;
    margin-bottom: 1%;
    margin-top: 2%;
}

/* #bank-accounts {
    padding: 2%;
    margin-top: 1%;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}
#businesses {
    padding: 2%;
    margin-top: 1%;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#officials-blackmailed {
    padding: 2%;
    margin-top: 1%;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#money-laundering {
    padding: 2%;
    margin-top: 1%;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
} */



