h1 {
    width: 100%;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

#bank-accounts {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}
#businesses {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}
#officials-blackmailed {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}
#money-laundering {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}

