* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(#FFE8D1, #FFFFFF);
    font-family: "Andale Mono", Monospace;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.malone {
    width: 800px;
    height: 533px;
    border-top: 16px solid black; 
    border-bottom: 16px solid black;
    
}

h1 {
    font-size: 4em;    
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5em;
}
nav {
    margin: 20px;
    font-size: 1.25em;
}

.headers {
    margin-bottom: 25px;
}

.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-nav li {
    margin-right: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 15%;
    box-shadow: 0 -2px 1px black;

}

.main-navbar li:hover {
    background-color: #568ea3;
}

 a:hover {
     font-weight: bold;

 }

a:link {
    color: #68c3d4;
    text-decoration: none;
}

a:visited {
    color: #568ea3;
}

.current-page {

    background-image: linear-gradient(#826251 2%, #FFE8D1);
}

.current-page a:visited {
    color: #000000;
}