.execsum {
    margin: 20px;
    padding: 10px;
}

.kAsso {
    margin: 0  0 20px 0;
}

.kAlias {
    margin: 20px 0 10px 0;
}

.country {
    margin: 20px 0 10px 0;
}

.canada {
    margin: 0 0 30px 0;
}