#crimes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: space-between;
}

#locations-container ul {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-flow: space-around;
}