#crimes-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: space-between;
}

#locations-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: space-between;
}