h1 {
    width: 100%;
    text-align: center;
}
  #content { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

h3 {
    text-align: center;
}
#airports, #bus-terminals, #visited-cities, #rental-companies {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}

#travel-report {
    padding-bottom: 5%;
}