h1 {
    width: 100%;
    text-align: center;
}
#content { 
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    text-align: center;
    padding-bottom: 2%;
}
#airports, #bus-terminals, #visited-cities, #rental-companies {
    padding: 5%;
    border: solid 2px black;
    margin-top: 1%;
}

#travel-report {
    padding-bottom: 5%;
}

#content li {
    font-size: 1.5em;
}